import(
  survival,
  zoo
)

  importFrom("graphics", "legend", "lines")
  importFrom("stats", "aggregate", "as.formula", "complete.cases", "df",
             "model.matrix", "nlm", "pchisq", "pnorm", "rexp", "runif","var")
export(data_sim)
export(data_sim2)
export(CoxMI)
export(Coxwt)
export(LRMI)
export(KMMI)
export(uc_data_transform)
export(CoxMI.summ)
export(LRMI.summ)
export(Coxwt.summ)
